<form id="rest-form" class="custom-dialog rest-dialog">

    <div class="section">
        <div class="subtitle">{{localize "VG.RestLength"}}</div>
        <div>
            <ul>
                <li>
                    <label><input name="rest-length" type="radio" value="short" checked>
                    <div>{{localize "VG.ShortRestText"}}</div></label>
                </li>
                <li>
                    <label><input name="rest-length" type="radio" value="long">
                        <div>{{localize "VG.LongRestText"}}</div></label>        
                </li>
            </ul>
        </div>
    </div>

    <div class="section">
        <div class="subtitle">{{localize "VG.FoodAndDrink"}}</div>
        <div>
            <ul>
                <li>
                    <label><input name="food-and-drink" type="radio" value="eat" checked>
                        <div>{{localize "VG.EatText"}}</div></label>
                </li>
                <li>
                    <label><input name="food-and-drink" type="radio" value="donteat" >
                        <div>{{localize "VG.DontEatText"}}</div></label>
                </li>
                <li>
                    <label><input name="food-and-drink" type="radio" value="starve">
                        <div>{{localize "VG.StarveText"}}</div></label>
                </li>
            </ul>
    </div>
    </div>

    <div class="section">
        <div class="subtitle">{{localize "VG.Infection"}}</div>
        <div>
            <ul>
                <li>
                    <label><input name="infected" type="checkbox">
                        <div>{{localize "VG.InfectedRestText"}}</div></label>
                </li>
            </ul>
        </div>
    </div>

    <div class="button-row">
        <button type="submit" class="button rest-button" name="rest" value="1">{{localize "VG.Rest"}}</button>
    </div>
</form>