<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-col1">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        </div>
        <div class="header-gutter-col">
        </div>
        <div class="header-col2">
            <div class="name-row">
                <input class="actor-name follower-name" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'VG.Name' }}"/>
            </div>
            <div class="hitpoints-row">
                <span class="stat-label">{{ localize "VG.HitPoints" }}:</span>
                <input class="stat-input" name="system.hp.value" type="number" value="{{data.system.hp.value}}" data-dtype="Number"/>
                /
                <input class="stat-input" name="system.hp.max" type="number" value="{{data.system.hp.max}}" data-dtype="Number"/>
            </div>
            <div class="buttons-row">
                <button type="button" class="roll-button morale rollable">{{localize "VG.Morale"}}</button>
            </div>
        </div>      
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "VG.TabDescription" }}</a>
        <a class="item" data-tab="details">{{ localize "VG.TabDetails" }}</a>
        <a class="item" data-tab="combat">{{ localize "VG.TabCombat" }}</a>
        <a class="item" data-tab="equipment">{{ localize "VG.TabEquipment" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor data.system.description target="system.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            {{!-- Morale --}}
            <div class="form-group">
                <label>{{ localize "VG.Morale" }}:</label>
                <input name="system.morale" type="text" value="{{data.system.morale}}" placeholder="10" data-dtype="Number"/>
            </div>

            {{!-- Trait --}}
            <div class="form-group">
                <label>{{ localize "VG.FollowerTrait" }}:</label>
                <input type="text" name="system.trait" value="{{data.system.trait}}" placeholder="None" data-dtype="String" />
            </div>

            {{!-- Speciality --}}
            <div class="form-group">
                <label>{{ localize "VG.FollowerSpeciality" }}:</label>
                <input type="text" name="system.speciality" value="{{data.system.speciality}}" placeholder="None" data-dtype="String" />
            </div>

            {{!-- Values --}}
            <div class="form-group">
                <label>{{ localize "VG.FollowerValues" }}:</label>
                <input type="text" name="system.values" value="{{data.system.values}}" placeholder="None" data-dtype="String" />
            </div>

        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat-tab" data-group="primary" data-tab="combat">
            <div class="initiative">
                <span class="roll-initiative">{{localize "VG.Roll"}} {{localize "VG.Initiative"}}:</span>
                <button type="button" class="button item-button rollable initiative-button legion-initiative-button" title="{{localize 'VG.Legion'}}">{{localize "VG.Legion"}}</button>
                <button type="button" class="button item-button rollable initiative-button individual-initiative-button" title="{{localize 'VG.IndividualI'}}">{{localize "VG.Individual"}}</button>
            </div>
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "VG.ItemTypeWeaponPlural"}}</h3>
                </li>            
                <ol class="item-list weapon-list">
                    {{#each data.system.equippedWeapons as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-fields">
                            <span class="item-field damage-die">{{item.system.damageDie}}</span>
                            <span class="item-field weapon-type">{{item.system.weaponType}}</span>
                        </div>
                        <div class="item-buttons">
                            <button type="button" class="item-button rollable attack-button"
                                    title="{{localize 'VG.Attack'}}">{{localize 'VG.Attack'}}</button>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{item.system.toggleClass}}" title='{{item.system.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <div class="rule-text attack-rule">
                    {{localize 'VG.AttackCritText'}}
                    {{localize 'VG.AttackFumbleText'}}
                </div>
                <div class="combat-gutter"></div>
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "VG.ItemTypeArmorPlural"}}</h3>
                    <div class="item-controls flexrow">
                    </div>
                </li>   
                <ol class="item-list armor-list">
                    {{#if data.system.equippedArmor}}
                    <li class="item flexrow" data-item-id="{{system.equippedArmor._id}}">
                        <img src="{{data.system.equippedArmor.img}}" title="{{data.system.equippedArmor.name}}" width="24" height="24" />
                        <h4 class="item-name">{{data.system.equippedArmor.name}}</h4>
                        <div class="item-buttons">
                            <div class="armor-tiers">
                                <div class="tiers">
                                    <label class="stat-label tier-label">{{ localize "VG.Tier" }}:</label>
                                    <ul class="tiers">
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="0" {{#ifEq data.system.equippedArmor.system.tier.value 0}}checked{{/ifEq}}/><span class="tier-num">0</span><span class="tier-dmg">-0</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="1" {{#ifEq data.system.equippedArmor.system.tier.value 1}}checked{{/ifEq}}/><span class="tier-num">1</span><span class="tier-dmg">-d2</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="2" {{#ifEq data.system.equippedArmor.system.tier.value 2}}checked{{/ifEq}} {{#ifLt data.system.equippedArmor.system.tier.max 2}}disabled="true"{{/ifLt}}/><span class="tier-num">2</span><span class="tier-dmg">-d4</span></label></li>
                                        <li><label><input class="tier-radio" type="radio" name="tier.value" value="3" {{#ifEq data.system.equippedArmor.system.tier.value 3}}checked{{/ifEq}} {{#ifLt data.system.equippedArmor.system.tier.max 3}}disabled="true"{{/ifLt}}/><span class="tier-num">3</span><span class="tier-dmg">-d6</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{data.system.equippedArmor.system.toggleClass}}" title='{{data.system.equippedArmor.system.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{#if data.system.equippedHelmet}}
                    <li class="item flexrow" data-item-id="{{data.system.equippedHelmet._id}}">
                        <img src="{{data.system.equippedHelmet.img}}" title="{{data.system.equippedHelmet.name}}" width="24" height="24" />
                        <h4 class="item-name">{{data.system.equippedHelmet.name}}</h4>
                        <div class="item-buttons">
                            <span class="rule-text helmet-rule">{{localize 'VG.HelmetUseText'}}</span>
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{data.system.equippedHelmet.system.toggleClass}}" title='{{data.system.equippedHelmet.system.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                </ol>  
                <div class="underarmor-row">
                    <div class="incoming-attack">
                        <div>
                            <button type="button" class="item-button rollable defend-button" title="{{localize 'VG.Defend'}}">{{localize "VG.Defend"}}</button>
                        </div>
                        <div class="rule-text defend-rule">
                            {{localize 'VG.DefendCritText'}}
                            {{localize 'VG.DefendFumbleText'}}
                        </div>
                    </div>
                </div>
            </ol>                        
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment-tab" data-group="primary" data-tab="equipment">
            <div class="equipment-top-row">
                <div class="credits">
                    <span class="stat-label credits-label">{{ localize "VG.Credits" }}:</span>
                    <input class="stat-input credits-input" name="system.credits" type="number" value="{{data.system.credits}}" data-dtype="Number" />  
                </div>
            </div>
            <ol class="items-list equipment-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">{{localize "VG.Equipment"}}</h3>
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title='{{localize "VG.ItemCreate"}}'>
                            <i class="fas fa-plus"></i> {{localize "VG.Add"}}
                        </a>
                    </div>
                </li>
                <ol class="item-list">
                    {{#each data.system.equipment as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name item-edit rollable">
                            {{item.name}}
                            {{#ifEq item.type 'container'}}
                              ({{localize 'VG.ContainerHolds'}} {{item.system.capacity}})
                            {{/ifEq}}
                            {{#ifGt item.system.quantity 1}}
                              ({{item.system.quantity}})
                            {{/ifGt}}
                        </h4>
                        <div class="item-buttons">
                        </div>
                        <div class="item-controls">
                            {{#if item.system.canPlusMinus}}                            
                              <a class="item-control item-qty-plus" title="Add Quantity"><i class="fas fa-plus"></i></a>
                                &nbsp;
                                <a class="item-control item-qty-minus" title="Subtract Quantity"><i class="fas fa-minus"></i></a>
                                &nbsp;
                            {{/if}}
                            {{#if item.system.equippable}}
                                <a class="item-control item-toggle {{item.system.toggleClass}}" title='{{item.system.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                            {{/if}}
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>            
        </div>
    </section>
</form>