form(class="{{cssClass}}")
  header.sheet-header
    img(class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}")
    .header-fields
      h1.item-name
        input(name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'VG.ItemName' }}" spellcheck="false")

  nav(class="sheet-tabs tabs" data-group="primary")
    a(class="item" data-tab="description")
      | {{ localize 'VG.TabDescription' }}
    a(class="item" data-tab="details")
      | {{ localize 'VG.TabDetails' }}
  
  section.sheet-body 
    div(class="tab description-tab" data-group="primary" data-tab="description")
        | {{editor data.data.description target="data.description" button=true owner=owner editable=true}}

    div(class="tab details-tab" data-group="primary" data-tab="details")
      .form-group
        label
          | {{ localize "VG.ItemPrice" }}
        input(type="number" name="data.price" value="{{data.data.price}}" placeholder="0" data-dtype="Number")

      .form-group
        label
          | {{ localize "VG.ItemWeight" }}
        input(type="number" name="data.weight" value="{{data.data.weight}}" placeholder="1" data-dtype="Number")

      .form-group 
        label
          | {{ localize "VG.ItemVolume" }}
        input(type="number" name="data.volume" value="{{data.data.volume}}" placeholder="1" data-dtype="Number")

