<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="header-details">
            <h1 class="item-name">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'VG.ItemName' }}"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">{{item.type}}</h4>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="abilities">{{ localize "VG.Abilities" }}</a>
        <a class="item" data-tab="details">{{ localize "VG.TabDetails" }}</a>        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Abilities Tab --}}
        <div class="tab" data-group="primary" data-tab="abilities">
            {{editor data.system.abilities target="system.abilities" button=true owner=owner editable=true}}               
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">

            {{!-- Description --}}
            <div class="form-group">
                <label>{{ localize "VG.Description" }}:</label>
                <textarea name="system.description" rows="8">{{data.system.description}}</textarea>
            </div>

            <br>

           {{!-- Starting credits --}}
            <div class="form-group">
                <label>{{ localize "VG.Credits" }}:</label>
                <input type="text" name="system.startingCredits" value="{{data.system.startingCredits}}" placeholder="2d6*10" data-dtype="String" />
            </div>

            {{!-- Favor Die --}}
            <div class="form-group">
                <label>{{ localize "VG.Favors" }}:</label>
                <input type="text" name="system.favorDie" value="{{data.system.favorDie}}" placeholder="1d2" data-dtype="String" />
            </div>

            {{!-- Starting hit points --}}
            <div class="form-group">
                <label>{{ localize "VG.HitPoints" }}:</label>
                <input type="text" name="system.startingHitPoints" value="{{data.system.startingHitPoints}}" placeholder="1d8" data-dtype="String" />
            </div>

            <br>

            {{!-- Starting abilities --}}
            <div class="form-group">
                <label>{{ localize "VG.AbilityStrength" }}:</label>
                <input type="text" name="system.startingStrength" value="{{data.system.startingStrength}}" placeholder="3d6" data-dtype="String" />
            </div>
            <div class="form-group">
                <label>{{ localize "VG.AbilityAgility" }}:</label>
                <input type="text" name="system.startingAgility" value="{{data.system.startingAgility}}" placeholder="3d6" data-dtype="String" />
            </div>
            <div class="form-group">
                <label>{{ localize "VG.AbilityPresence" }}:</label>
                <input type="text" name="system.startingPresence" value="{{data.system.startingPresence}}" placeholder="3d6" data-dtype="String" />
            </div>
            <div class="form-group">
                <label>{{ localize "VG.AbilityToughness" }}:</label>
                <input type="text" name="system.startingToughness" value="{{data.system.startingToughness}}" placeholder="3d6" data-dtype="String" />
            </div>

            <br>

            {{!-- Starting equipment --}}
            <div class="form-group">
                <label>{{ localize "VG.WeaponTable" }}:</label>
                <input type="text" name="system.weaponTableDie" value="{{data.system.weaponTableDie}}" placeholder="1d10" data-dtype="String" />
            </div>
            <div class="form-group">
                <label>{{ localize "VG.ArmorTable" }}:</label>
                <input type="text" name="system.armorTableDie" value="{{data.system.armorTableDie}}" placeholder="1d4" data-dtype="String" />
            </div>
            <div class="form-group">
                <label>{{ localize "VG.Items" }}:</label>
                <textarea name="system.startingItems" rows="6">{{data.system.startingItems}}</textarea>
            </div>
            <div class="form-group">
                <label>{{ localize "VG.Rolls" }}:</label>
                <textarea name="system.startingRolls" rows="6">{{data.system.startingRolls}}</textarea>
            </div>
        </div>

    </section>
</form>