<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="header-details">
            <h1 class="item-name">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'VG.ItemName' }}"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">{{item.type}}</h4>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "VG.TabDescription" }}</a>
        <a class="item" data-tab="details">{{ localize "VG.TabDetails" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            {{!-- Price --}}
            <div class="form-group">
                <label>{{ localize "VG.ItemPrice" }}:</label>
                <input type="number" name="data.price" value="{{data.data.price}}" placeholder="0" data-dtype="Number" />
            </div> 

            {{!-- Weight --}}
            <div class="form-group">
                <label>{{ localize "VG.Weight" }}:</label>
                <input type="number" name="data.weight" value="{{data.data.weight}}" placeholder="1" data-dtype="Number" />
            </div> 

            {{!-- Volume --}}
            <div class="form-group">
                <label>{{ localize "VG.Volume" }}:</label>
                <input type="number" name="data.volume" value="{{data.data.volume}}" placeholder="1" data-dtype="Number" />
            </div> 

            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>{{ localize "VG.ItemWeaponType" }}:</label>
                <select name="data.weaponType">
                    {{#select data.data.weaponType}}
                    {{#each config.weaponTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div> 

            {{!-- Damage Die --}}
            <div class="form-group">
                <label>{{ localize "VG.ItemDamageDie" }}:</label>
                <input type="text" name="data.damageDie" value="{{data.data.damageDie}}" placeholder="1d4" data-dtype="String" />
            </div>

            {{!-- Ammo type --}}
            <div class="form-group">
                <label>{{ localize "VG.AmmoType" }}:</label>
                <input type="text" name="data.ammoType" value="{{data.data.ammoType}}" placeholder="{{ localize "VG.Charges" }}" data-dtype="String" />
            </div> 

            {{!-- Ammo per use --}}
            <div class="form-group">
                <label>{{ localize "VG.AmmoPerUse" }}:</label>
                <input type="number" name="data.ammoPerUse" value="{{data.data.ammoPerUse}}" placeholder="0" data-dtype="Number" />
            </div> 

            {{!-- Rate of fire --}}
            <div class="form-group">
                <label>{{ localize "VG.RateOfFire" }}:</label>
                <input type="number" name="data.rateOfFire" value="{{data.data.rateOfFire}}" placeholder="0" data-dtype="Number" />
            </div> 

            {{!-- Max range --}}
            <div class="form-group">
                <label>{{ localize "VG.MaxRange" }}:</label>
                <input type="number" name="data.maxRange" value="{{data.data.maxRange}}" placeholder="0" data-dtype="Number" />
            </div> 

        </div>
    </section>
</form>